:root {
    --body-bg: #123;
    --nav-bg: #234;
}

* {
    box-sizing: border-box;
}

html {
    font-family: system-ui;
}

body {
    position: absolute;
    /* Make the element absolute-positioned */
    top: 0;
    /* Position it at the top of its container */
    right: 200px;
    font-size: 1.25rem;
    background: var(--body-bg);
    padding-inline-start: 20rem;
    color: white;
    float: right;
    padding-inline-start: 20rem;
}

nav {
    background: var(--nav-bg);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
     float: left; 
     padding-block: 2rem; 
    padding-left: 0;
    padding-right: 3rem;
    
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;    
    gap: 1rem;
    left: 1rem;
}

.nav-list a {
    color: white;
    display: block;
    text-decoration: none;
}

.nav-list li {
    padding-block: 1rem;
    padding-inline: 2rem;
    margin-inline: 0 ;
    /* prevent animation glitch on right side */
    box-shadow: 0 0 0  var(--body-bg);

  
}

.nav-list li.active {
    view-transition-name: nav;
    display: block;
    background: var(--body-bg);
    position: relative;
    z-index: -1;
    border-radius: 0 100vw 100vw 0;
   
}

::view-transition-group(nav) {
    animation-duration: 1s;
}

.nav-list li.active::before,
.nav-list li.active::after {
    --border-radius: 1rem;
    content: "";
    position: absolute;       
    width:  var(--border-radius);  
    height: var(--border-radius); 
    right: 0rem; 
    left: 0rem;   
    background: var(--nav-bg);
    background: red;
}

.nav-list li.active::before {
    border-radius: 0 0 0 var(--border-radius)  ;
    top: calc(var(--border-radius) * -1);
    box-shadow: 5px 5px 0 -5px var(--body-bg);
  
    
}

.nav-list li.active::after {
    border-radius:  var(--border-radius) 0 0 0;
    bottom: calc(var(--border-radius) *-1);
    box-shadow: 5px 5px 0 -5px  var(--body-bg);    
    
}

.nav-list li:nth-child(1) a {
    view-transition-name: test;
}

.nav-list li:nth-child(2) a {
    view-transition-name: test-2;
}

.nav-list li:nth-child(3) a {
    view-transition-name: test-3;
}
